@import "tailwindcss";

@theme {
  --color-primary: #6366F1;
  --color-secondary: #3F51B5;
  --color-accent: #9C27B0;
  --color-chart-2: #10B981;
  --color-gray-50: #F9FAFB;
  --color-gray-100: #F3F4F6;
  --color-gray-300: #D1D5DB;
  --color-gray-400: #9CA3AF;
  --color-gray-500: #6B7280;
  --color-gray-600: #4B5563;
}
